<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CV Generator</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/local.css")
    @Styles.Render("~/Content/progress.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CV Generator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li id="home" class="">@Html.ActionLink("Home", "Index", "Home") </li>
                    <li id="addCv" class="">@Html.ActionLink("Add CV", "CreateCV", "Home")</li>
                    <!--<li class="">@Html.ActionLink("Add Cover Letter", "CoverLetter", "Home")</li>-->
                    <li id="prevDocument" class="">@Html.ActionLink("Preview Document", "PreviewDocument", "Home")</li>
                    <li class=""><a href="#"> Export Document</a></li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </nav>
        <div id="page-wrapper">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - CV Generator</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Model/extraFormGenerator.js")
    @Scripts.Render("~/Scripts/Model/indicationCurrentPage.js")
    @RenderSection("scripts", required: false)

   @* @Scripts.Render("~/Scripts/require.js")*@
    @*<script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/require.js"></script>
    @Scripts.Render("~/jspm_packages/system.js")
    @Scripts.Render("~/config.js")
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>*@

    @*<script>
        System.import("~/Scripts/specs/application/calculator.js");
    </script>*@
</body>
</html>